<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <title>简介丨齐登辉-Qi Denghui </title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico?"/> <!--网页小图标-->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--设备信息-->
  </head>

  <body>
    <div class="wrapper">

      <header>
        <h1><a href="#">齐登辉 (Qi Denghui)</a></h1>
        <div class="menu-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
       <!-- 增加一个汉堡菜单按钮，将目录列表放在一个可折叠的部分 -->
       <nav class="toc" id="navigation">
        <ul class="toc-list">
          <li><a href="#教育背景">教 育 背 景</a></li>
          <li><a href="#科研成果">科 研 成 果</a></li>
          <li><a href="#个人经历">个 人 经 历</a></li>
          <li><a href="#荣誉奖励">荣 誉 奖 励</a></li>
          <li><a href="#个人技能">个 人 技 能</a></li>
          <li><a href="#自我评价">自 我 评 价</a></li>
        </ul>
        <button class="close-nav">收起</button> <!-- 增加关闭按钮 -->
      </nav>
    </header>
      </header>

      <section>
        <div class="flex">
          <!-- 左侧: logo-qdh -->
          <div class="left-side">
            <img class="logo-qdh" src="img/photo-qdh.jpg" />
          </div>
      
          <!-- 右侧 -->
          <div class="right-side">
            <!-- 右上角: logo-scnu -->
            <div class="top-right">
              <img class="logo-scnu" src="img/logo-scnu.png" />
            </div>
            <!-- 右下角: 信息组容器 -->
            <div class="bottom-right">
              <!-- 信息组1 -->
              <div class="info-group">
                <strong>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</strong>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;男<br/>
                <strong>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄</strong>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;26<br/>
                <strong>政治面貌</strong>: &nbsp;预备党员<br/>
                <strong>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历</strong>: 硕士研究生<br/>
                <strong>籍&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贯</strong>: &nbsp;&nbsp;山东嘉祥<br/>
              </div>
              <!-- 信息组2 -->
              <div class="info-group">
                <strong>微&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;信</strong>:&nbsp;&nbsp;<a href="img/wechat.jpg">Q_DDDh</a><br/>
                <strong>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</strong>: <a href="denghui.qi@m.scnu.edu.cn">denghui.qi@m.scnu.edu.cn</a><br/>
                <strong>网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;站</strong>: <a href="https://qiboodip.github.io">qiboodip.github.io</a><br/>
                <strong>简&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历</strong>: <a href="CV-qdh.pdf">简历.PDF</a><br/>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(更新: 2024 08 )</p>
              </div>
            </div>
          </div>
        </div>
        {{ content }}
      </section>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
          const menuToggle = document.getElementById('mobile-menu');
          const toc = document.getElementById('navigation');
          const closeNavButton = document.querySelector('.close-nav');
          const tocLinks = document.querySelectorAll('.toc-list a');

          // 点击汉堡菜单图标显示目录
          menuToggle.addEventListener('click', function(event) {
            event.stopPropagation(); // 阻止事件冒泡
            toc.classList.toggle('show');
          });

          // 点击目录项后自动收回目录
          tocLinks.forEach(link => {
            link.addEventListener('click', function() {
              toc.classList.remove('show');
            });
          });

          // 点击关闭按钮自动收回目录
          closeNavButton.addEventListener('click', function() {
            toc.classList.remove('show');
          });

          // 点击页面其他地方时，自动收回目录
          document.addEventListener('click', function(event) {
            if (!toc.contains(event.target) && !menuToggle.contains(event.target)) {
              toc.classList.remove('show');
            }
          });
        });

    </script>
  
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
  </html>